.itemContainer{
  margin-bottom: 15px;
}

.newsImageSmall {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.newsImageContainer {
    width: 100%;
    height: 150px;
    padding: 3px;
    box-sizing: border-box;

    &:hover{
      background: #85a7e8;
    }
}

.title{
    max-height: 100px;
    display: block;
    color: #2d2d44;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
}